<!DOCTYPE html>
<html>
<head>
    <title>Movie Recommender</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<header>
    ?? MovieFlix
</header>

<div class="container">
    <h2>Find Movies Like Your Favorite</h2>

    <input id="movie" placeholder="Enter movie name">
    <button onclick="getRec()">Search</button>

    <div class="movies" id="result"></div>

    <br>
    <a href="/logout">Logout</a>
</div>

<script>
function getRec(){
    fetch('/add-movie',{
        method:'POST',
        headers:{'Content-Type':'application/json'},
        body:JSON.stringify({
            movie:document.getElementById('movie').value
        })
    })
    .then(res=>res.json())
    .then(data=>{
        let html = "";
        data.recommendations.forEach(m => {
            html += `<div class="card">${m}</div>`;
        });
        document.getElementById('result').innerHTML = html;
    });
}
</script>

</body>
</html>