<!DOCTYPE html>
<html>
<head>
  <title>Movie Recommender</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="container">
  <h1>🎬 Movie Recommender</h1>

  <form id="movieForm">
    <input type="text" id="movie" placeholder="Enter movie (Avengers, Batman...)" required />
    <button type="submit">Recommend</button>
  </form>

  <h3 id="result"></h3>
</div>

<script>
document.getElementById("movieForm").onsubmit = async (e) => {
  e.preventDefault();

  const res = await fetch("/add-movie", {
    method: "POST",
    headers: {"Content-Type": "application/json"},
    body: JSON.stringify({
      movie: document.getElementById("movie").value
    })
  });

  const data = await res.json();

  document.getElementById("result").innerHTML =
    "Recommendations:<br>" + data.recommendations.join("<br>");
};
</script>
</body>
</html>
